.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-between;
    align-items: end;
}
.top_btn {
    display: flex;
    gap: 32px;

}
.contact_form {

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact_form form{

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_controller {
    display: flex;
    flex-direction: column;
    width: calc(100%-20px);
    position: relative;
    gap: 20px;
    margin-left: 20px;
}

.form_controller input {
    height: 40px;
    padding: 0px 8px;
}

.form_controller label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0px 10px;
    font-size: 14px;
}

.contact_image img{
    height: 500px;
    width: 500px;
}