<div id="lnav">
                <i class="ri-arrow-left-line"></i>
                <div id="lnavr">
                    <a href="">HOME</a>
                    <a href="">{{work}}</a>
                    <i class="ri-twitter-fill"></i>
                </div>
            </div>