<div id="textcenter">
                <h1>HELLO,</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui consequuntur itaque sint autem enim quia totam quidem nihil ad temporibus, sit ducimus facilis? Incidunt nesciunt debitis perspiciatis. Magni, quasi cumque.</p>
                <a href="">read</a>
            </div>